
body {
    width: 100%;
    margin: 0;
    background-color: 	#876565;
    font-size: 100%;
}
ul {
    list-style-type: none;
}

header h1{
    text-align: center;
    color: #FFFFFF
}
header nav ul{
    text-align: center;
    padding: 0;
    color: #44FF00 ;
}
figure {
    margin: 0;
    padding 0;
    text-align: center;
}
body h2 {
    color: #B3B3B3;
    text-align: center;

}
main li {
    border-top-style: solid;
    border-color: #B3B3B3;
}